argparse-addons==0.7.0
bitstruct==8.13.0
cantools==37.0.7
diskcache==5.4.0
msgpack==1.0.3
numpy==1.22.3
packaging==21.3
Pillow==9.0.1
pyparsing==3.0.7
python-can==4.0.0
six==1.16.0
textparser==0.23.0
typing-extensions==4.1.1
wrapt==1.14.0
wxPython==4.1.1
